.body {
	line-height: 30px;
}

.navbar {
	height: 50px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
	background-position: center;
	/*background-attachment: fixed;*/
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.7;
}

.bgimg-1 {
	background-image: url("parallax1.jpg");
	min-height: 400px;
}

.bgimg-2 {
	background-image: url("parallax2.jpg");
	min-height: 400px;
}

.bgimg-3 {
	background-image: url("parallax3.jpg");
	min-height: 400px;
}

.logo {
	letter-spacing: 5px;
}

.avatar_hat {
	opacity: 0.6;
}

.avatar_hat:hover {
	opacity: 1;
}

.skill-text {
	letter-spacing: 10px;
}

.info {
	color: white;
}

.image {
	opacity: 0.8;
}

.image:hover {
	opacity: 1;
}


.footer {
	color: white;
	opacity: 0.6;
}

.footer:hover {
	opacity: 1;
}


@media screen and (max-width: 520px) {
	.website {
		display: none;
	}
}